* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    max-width: 100% !important;
    overflow-x: hidden !important; 
}
body {
  /* margin-top: 100px !important; */
  scroll-margin-top: 100px;
  scroll-behavior: smooth;
}